@mixin bgForSection($image: null) {
  @if $image != null {
    background: url("../img/#{$image}") center center no-repeat;
    background-size: cover;
  }
}

@mixin fontsProperties {
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}