@mixin bgForSection($image: null) {
  @if $image != null {
    background: url("../img/#{$image}") center center / cover no-repeat;
  }
}

@mixin fontsProperties {
  font-weight: normal;
  font-style: normal;
}

@mixin tablet{
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin phone(){
  @media screen and (max-width: 480px) {
    @content;
  }
}

@mixin mediaFix($resolution){
  @media screen and (max-width: $resolution) {
    @content;
  }
}