$color-white: #fff;

$color-dark-grey: #2f3234;
$color-dark-grey-hover: #1f2122;
$color-light-gray: #626262;

$color-gray: #454545;

$color-orange: rgba(228, 80, 40, 1);
$color-orange-hover: #c1401e;
$color-orange-light: #eb8d38;

$color-yellow: #f9b43b;

