.section{
  width: 100%;
  height: 100vh;
  min-height: 65rem;
  position: relative;
}

.intro-section {
  @include bgForSection('bg-intro-section.jpg');

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include tablet{
      flex-direction: column;
      text-align: center;
      width: 60%;
    }
    @include phone{
      width: 85%;
    }
  }
  &__image-box{
    width: 100%;
    margin-bottom: 2rem;
    @include phone{
      margin-bottom: 2rem;
    }
  }
  &__image{
    width: 100%;
  }

  &__heading {
    padding-top: 5rem;
    padding-left: 1rem;
    &--main{
      margin-bottom: 2rem;
    }
    @include tablet{
      padding: 0;
    }
  }

  &__scroll-down {
    margin-bottom: 4rem;
  }
  &__scroll-down-link{
    display: block;
    width: 3rem;
    height: 3rem;
  }

  &__scroll-down-icon{
    width: 3rem;
    height: 3rem;
  }


}

.about-section {
  @include bgForSection('bg-about-section.jpg');

  &__wrapper{
    width: 100%;
  }

  &__heading {
    text-align: center;
    margin-bottom: 5rem;
    @include phone{
      margin-bottom: 3rem;
    }
  }

  &__list {
    width: 100%;
    display: flex;
    justify-content: space-around;
    list-style: none;
    @include phone{
      justify-content: center;
      flex-direction: column;
      align-items: center;
    }
  }


  &__item {
    width: 30rem;
    text-align: center;
    color: $color-dark-grey;
    @include tablet{
      padding: 0 .5rem;
    }
    @include phone{
      display: flex;
      align-items: center;
      text-align: left;
      width: 100%;
      &:not(:last-child){
        margin-bottom: 1.5rem;
      }

    }

    & h3 {
      margin-bottom: 2rem;
      font-family: Lifehack, sans-serif;
      font-weight: 400;
      font-size: 2.4rem;
      line-height: 2.8rem;
      @include phone{
        font-size: 3rem;
        margin-bottom: .5rem;
      }
      @include mediaFix(370px){
        font-size: 2.6rem;
      }
    }

    & p {
      font-size: 1.4rem;
      line-height: 2.4rem;
      opacity: .8;
      @include phone{
        font-size: 1.75rem;
        line-height: 3rem;
      }
    }
  }



  &__icon {
    margin-bottom: 3rem;
    width: 9rem;
    height: 9rem;
    @include phone{
      width: 25%;
      margin-right: 3rem;
    }
  }

  &__desc{
    @include phone{
      width: 75%;
    }
  }
}

.slider-section{
  background: linear-gradient($color-yellow 0%, $color-orange-light 50%, $color-yellow 100%);
}

.section-our-team{
  @include bgForSection('our-team-bg.jpg');
}

.section-our-menu{
  @include bgForSection('our-menu-bg.jpg');
}

.section-order{
  @include bgForSection('order-section-bg.jpg');
}
.section-video{
  @include bgForSection('video-section-bg.jpg');
  &__wrapper{
    width: 100%;
  }
  &__heading {
    text-align: center;
    margin-bottom: 5rem;
    @include phone{
      margin-bottom: 3rem;
    }
  }
  &__player{

  }
}
.section-map{
  &__wrapper{
    overflow: hidden;
    height: calc(100vh - 6rem);
  }
  &__map{
    height: 100%;
    width: 100%;
  }
}