.about-cards {

  &__list {
    display: flex;
    justify-content: space-around;
    list-style: none;
  }

  &__item {
    width: 30rem;
    text-align: center;
    color: $color-dark-grey;
    & h3 {
      margin-bottom: 2rem;
      font-family: Lifehack, sans-serif;
      font-weight: 400;
      font-size: 2.4rem;
      line-height: 2.8rem;
    }
    & p {
      font-size: 1.4rem;
      line-height: 2.4rem;
      opacity: .8;
    }
  }
  &__icon {
    margin-bottom: 3rem;
  }
}