.btn{
  padding: 1rem 1.5rem;
  border-radius: .5rem;
  text-transform: uppercase;
  text-decoration: none;
  font-family: Ubuntu, sans-serif;
  font-size: 1.3rem;
  font-weight: 500;
  color: $color-white;
  transition: background .3s ease;

  &:hover{
    background-color: $color-orange-hover;
  }
  &--order{
    background-color: $color-orange;
  }
}

