.close {
  display: none;
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
  @include tablet {
    display: initial;
  }

  &--big{
    width: 4rem;
    height: 4rem;
  }
  &--big &__btn{
    width: 4rem;
    &:before{
      width: 4rem;
    }
  }

  &--white &__btn{
    background-color: $color-white;
    &:before{
      background-color: $color-white;
    }
  }

  &__btn {
    width: 2.5rem;
    height: .4rem;
    border-radius: .2rem;
    background-color: $color-orange-light;
    transform: rotate(45deg);

    &:before {
      position: absolute;
      top: 0;
      left: 0;
      content: '';
      width: 2.5rem;
      height: .4rem;
      border-radius: .2rem;
      background-color: $color-orange-light;
      transform: rotate(-90deg);
    }

  }

}