.main-nav{
  font-size: 1.3rem;
  text-transform: uppercase;

  &__list{
    display: flex;
    list-style: none;
  }
  &__item{
    position: relative;
    margin-right: 1.5rem;

    &:not(:last-child){
      padding-right: 2rem;
    }

    &:not(:last-child):after{
      content: '';
      width: .5rem;
      height: .5rem;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      background-color: $color-white;
      border-radius: 50%;
    }
  }

  &__link{
    font-family: Ubuntu, sans-serif;
    font-weight: 400;
    color: $color-white;
    text-decoration: none;
  }
}