.testimonials {
  &__list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
  }
  &__item{
    position: relative;
    width: 25%;
    background-color: $color-gray;
    overflow: hidden;
    @include tablet{
      width: 50%;
    }
  }
  &__user-photo{
    height: 50vh;
    width: 100%;
    filter: grayscale(100%);
    transition: opacity .5s ease;
    @for $i from 1 through 8{
      &--#{$i}{
        background: url("../img/user-photo-0#{$i}.jpg") center center no-repeat;
        background-size: cover;
      }
    }

    @include tablet{
      height: 25vh;
    }

  }

  &__img{
    display: block;
    width: 100%;

  }
  &__desc{
    width: 80%;
    opacity: 0;
    position: absolute;
    top: 10rem;
    left: 2rem;
    color: $color-white;
    font-size: 1.4rem;
    line-height: 2.4rem;
    transition: all .5s ease;
    @include tablet{
      text-align: center;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &__item:hover &__desc{
    opacity: 1;
    top: 5rem;
    @include tablet{
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
  &__item:hover &__user-photo{
    opacity: 0.5;
  }

  &__heading{
    margin-bottom: 2.5rem;
    @include tablet{
      margin-bottom: 1rem;
    }
  }
  &__text{
    margin-bottom: 1.5rem;
  }
  &__button{
    display: block;
  }

}