*,
*::after,
*::before{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html{
  //define what is 1 rem
  font-size: 62.5%;
  font-family: ubuntulight, sans-serif;
}

body{
  box-sizing: border-box;
}
.container{
  width: 94rem;
  margin: 0 auto;
}