//fonts
@font-face {
  font-family: 'Gagalin';
  src: url('./fonts/gagalin-regular-webfont.woff2') format('woff2'),
  url('./fonts/gagalin-regular-webfont.woff') format('woff');
  @include fontsProperties;
}

@font-face {
  font-family: 'Lifehack';
  src: url('./fonts/lifehack-medium-webfont.woff2') format('woff2'),
  url('./fonts/lifehack-medium-webfont.woff') format('woff');
  @include fontsProperties;

}

@font-face {
  font-family: 'ubuntubold';
  src: url('./fonts/ubuntu-b-webfont.woff2') format('woff2'),
  url('./fonts/ubuntu-b-webfont.woff') format('woff');
  @include fontsProperties;

}

@font-face {
  font-family: 'ubuntulight';
  src: url('./fonts/ubuntu-light-webfont.woff2') format('woff2'),
  url('./fonts/ubuntu-light-webfont.woff') format('woff');
  @include fontsProperties;
}

@font-face {
  font-family: 'ubuntumedium';
  src: url('./fonts/ubuntu-medium-webfont.woff2') format('woff2'),
  url('./fonts/ubuntu-medium-webfont.woff') format('woff');
  @include fontsProperties;
}

@font-face {
  font-family: 'ubunturegular';
  src: url('./fonts/ubuntu-regular-webfont.woff2') format('woff2'),
  url('./fonts/ubuntu-regular-webfont.woff') format('woff');
  @include fontsProperties;
}


//headings
.primary-heading{
  font-family: Gagalin, sans-serif;
  font-size: 7.2rem;
  font-weight: 400;
  &--main{
    display: block;
    color: $color-yellow;
    margin-bottom: 2rem;
  }
  &--gray{
    color: $color-dark-grey;
  }
  &--white{
    color: $color-white;
  }
  &--small{
    font-size: 1.4rem;
  }
}

.secondary-heading{
    font-family: Lifehack, sans-serif;
    font-weight: 400;
    color: $color-white;
    font-size: 6.5rem;
    line-height: 6rem;
  &--small{
    font-size: 2.4rem;
    line-height: 2.8rem;
    color: $color-dark-grey;
  }
}