//fonts
@font-face {
  font-family: 'Ubuntu';
  src: url(./fonts/Ubuntu-B.ttf);
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Ubuntu';
  src: url(./fonts/Ubuntu-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Ubuntu';
  src: url(./fonts/Ubuntu-Medium.ttf);
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Ubuntu';
  src: url(./fonts/Ubuntu-Light.ttf);
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Gagalin';
  src: url(./fonts/Gagalin-Regular.otf);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Lifehack';
  src: url(./fonts/Lifehack-Medium.otf);
  font-weight: 400;
  font-style: normal;
}

//headings
.primary-heading{
  font-family: Gagalin, sans-serif;
  font-size: 7.2rem;
  font-weight: 400;
  &--main{
    display: block;
    color: $color-yellow;
    margin-bottom: 2rem;
  }
  &--sub{
    font-family: Lifehack, sans-serif;
    font-weight: 400;
    color: $color-white;
    font-size: 6.5rem;
    line-height: 6rem;
  }
}