.contacts{
  color: $color-white;
  @include phone{
    margin-bottom: 1rem;
  }

  &__phone{
    font-family: ubuntubold, sans-serif;
    color: $color-orange;
    text-decoration: none;
  }
  &__phone-icon{
    width: 1rem;
    height: 1rem;
    margin-right: .3rem;
  }
}