.slider{
  &__wrapper{
    display: flex;
    overflow: hidden;
  }
  &__arrow{
    cursor: pointer;
    height: 100vh;
    background-color: transparent;
    border: none;
    outline: none;
    padding: 0 4rem;
    @include tablet{
      padding: 0 2rem;
    }
    @include phone{
      padding: 0;
    }
  }
  &__arrow-icon{
    height: 3rem;
    width: 2rem;

    &--left{
      transform: rotate(90deg);
    }
    &--right{
      transform: rotate(-90deg);
    }
  }
  &__list-wrapper{
    width: 100%;
    overflow: hidden;

  }
  &__list{
    position: relative;
    display: flex;
    align-items: center;
    height: 100vh;
    right: 0;
    will-change: right;
    transition: right .8s cubic-bezier(.66,.02,.36,1);
  }
  &__item{
    flex: 0 0 100%;
    position: relative;
    height: 50vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    will-change: opacity;
    transition: opacity .8s cubic-bezier(.01,.66,1,.36);
    &:not(:first-child){
      opacity: 0;
    }
    @include tablet{
      flex-direction: column;
      justify-content: center;
      height: 80vh;
    }
    @include phone{
      height: 95vh;
    }
  }
  &__item-right,
  &__item-left{
    width: 49%;
    @include tablet{
      width: 90%;
      text-align: center;
    }
    @include phone{
      width: 100%;
    }
  }
  &__item-left{
    @include tablet{
      margin-bottom: 2rem;
    }
    @include phone{
      margin-bottom: 1rem;
    }
  }
  &__img-box{
    @include tablet{
      padding-top: 8rem;
    }
    @include phone{
      padding-top: 4rem;
    }
  }
  &__img{
    width: 100%;
  }
  &__compos{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 10rem;
    height: 10rem;
    border-radius: .5rem;
    background-color: $color-orange-light;
    transition: background-color 4s ease;
    &:hover{
      background-color: $color-orange;
    }

  }
  &__compos:hover &__compos-desc{
    left: 100%;
    opacity: 1;
  }
  &__compos-icon{
    width: 5rem;
    height: 5rem;
  }

  &__compos-desc{
    display: flex;
    opacity: 0;
    z-index: 999;
    width: 27rem;
    justify-content: space-between;
    align-items: flex-start;
    position: absolute;
    top: 0;
    left: -1000rem;
    border-radius: .5rem;
    background-color: rgba($color-white, .9);
    padding: 2rem;
    transition: opacity .4s ease;

    @include tablet{
      width: 32rem;
    }
    @include mediaFix(370px){
      width: 27rem;
    }

  }
  &__compos-close{
    display: none;
    @include tablet{
      display: initial;
    }
  }
  &__compos-item{
    text-align: left;
    display: flex;
    align-items: center;

    &:not(:last-child){
      margin-bottom: 1rem;
    }
  }
  &__compos-item-icon{
    width: 4rem;
    height: 4rem;
    margin-right: 2rem;
  }
  &__compos-item-element{
    font-family: ubuntumedium, sans-serif;
    margin-right: 6rem;
    @include mediaFix(370px){
      margin-right: 3rem;
    }
  }

  &__compos-item-weight{
    margin-left: auto;
  }

  &__calories{
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 8rem;
    height: 8rem;
    @include tablet{
      top: 0;
      left: initial;
      right: 0;
    }
  }
  &__calories-icon{
    width: 5rem;
  }

  &__calories-count{
    position: absolute;
    font-size: 2rem;
  }

  &__heading{
    margin-bottom: 4rem;
    font-size: 5.5rem;
    line-height: 6rem;
    @include mediaFix(970px){
      font-size: 4rem;
      line-height: 4rem;
    }
    @include tablet{
      font-size: 5.5rem;
      line-height: 6rem;
    }
    @include phone{
      margin-bottom: 2rem;
      font-size: 4rem;
      line-height: 4rem;
    }
  }

  &__text{
    color: $color-white;
    margin-bottom: 3rem;
    @include phone{
      margin-bottom: 1rem;
    }
  }

  &__order{
    display: flex;
    align-items: baseline;
    justify-content: space-between;

    @include tablet{
      justify-content: center;
    }
  }
  &__price{
    @include mediaFix(860px){
      font-size: 6rem;
    }

  }
  &__currency{
    @include mediaFix(860px){
      font-size: 2rem;
    }
  }
  &__order-bnt{
    @include tablet{
      margin-left: 3rem;
    }
  }

}