.intro-section{
  @include fullScreenSection('bg-intro-section.jpg');

  &__wrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__heading{
    padding-top: 5rem;
    padding-left: 1rem;
  }

  &__scroll-down{
    position: absolute;
    bottom: 4rem;
    left: 50%;
    transform: translate(-50%);
  }
}

.about-section{
  @include fullScreenSection('bg-about-section.jpg');
  padding-top: 12rem;
  &__heading{
    text-align: center;
    margin-bottom: 5rem;
  }
}

.section-testimonials{
  @include fullScreenSection;
}

