.intro-section {
  @include fullScreenSection('bg-intro-section.jpg');

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__heading {
    padding-top: 5rem;
    padding-left: 1rem;
  }

  &__scroll-down {
    margin-bottom: 4rem;
  }
}

.about-section {
  @include fullScreenSection('bg-about-section.jpg');

  &__wrapper {



  }

  &__heading {
    text-align: center;
    margin-bottom: 5rem;
  }
}

.section-testimonials {
  @include fullScreenSection;
}

