.header{
  height: 9rem;
  display: flex;
  align-items: center;

  &__logo{
    margin-right: 7rem;
  }

  &__logo-icon{
    width: 8rem;
    height: 8rem;
  }
  &__order-btn{
    margin-left: 1rem;
  }
}